/* this sets our body's background color so we can see the card in action */
body {
    background-color: royalblue;
}

/* this is the overall card holder that creates the 3d perspective  */
#card {
    margin: 0 auto;
    width: 200px;
    height: 300px;
    background-color: black;
    color: white;
    border: 1px solid greenyellow;
    perspective: 1000px;
}
/* this hold all of our contents of the card - basically all card info is in here  */
#inner-card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
/* on hover the card and inside of the card will rotate */
#card:hover #inner-card {
    transform: rotateY(180deg);
}
/* this hides the back of the object of the 3d element  */
#identity, #stats {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* for safari browser */
    backface-visibility: hidden;
}
/* this is the front of the card  */
#identity {
    background-color: goldenrod;
    color: white;

}
/* this is the back of the card */
#stats {
    /* background-color: dodgerblue; */
    color: white;
    /* using transform rotate which will turn the card 180degress on the y axis*/
    transform: rotateY(180deg);

}